<!DOCTYPE html>
<body>
<header class="header">
    <div class="container">
        <div class="header-panels">
            <div class="header-panel">
                <a class="header__logo" href="http://www.cisco.com" target="_blank">
                    <span class="icon-cisco"></span>
                        </a>
                <div class="header__title">Your App Title</div>
            </div>
            <div class="header-panel header-panel--right">
                <a class="header-item">Link 1</a>
                <a class="header-item">Link 2</a>
                <a class="header-item">Link 3</a>
            </div>
        </div>
    </div>
</header>
</body>
<html>